runs/*

erebus-master/game/controllers/MainSupervisor/__pycache__/

erebus-master/game/controllers/robot0Controller/__pycache__/

world_gen/__pycache__/

world_gen/map.png

world_gen/generatedWorld.wbt

erebus-master/game/worlds/.*.wbproj

*.cache

erebus-master/game/protos/custom_robot.proto

erebus-master/game/controllers/robot0Controller/robot0Controller.py
